<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294402024443-5d19qe00av289norc65jije4smpp6af7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294402024443-5d19qe00av289norc65jije4smpp6af7</string>
	<key>API_KEY</key>
	<string>AIzaSyDyVwJtVS4TOgAICiP2mfxuoTRgWwykXCE</string>
	<key>GCM_SENDER_ID</key>
	<string>294402024443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ntfSNS.SNS</string>
	<key>PROJECT_ID</key>
	<string>marketsns</string>
	<key>STORAGE_BUCKET</key>
	<string>marketsns.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294402024443:ios:0525b50415680b5438a15e</string>
</dict>
</plist>